<header>
  <div class="navbar">
    <span><a href="/">Home</a></span>
  </div>
  <section class="top-side">
    {{#if person.name}}
      {{#if person.picture}}
      <img src="{{person.picture}}" alt="{{person.name}}'s picture" class="logo-image">
      {{else}}
      <img src="/images/blank-profile-picture.png" alt="{{person.name}}'s picture" class="logo-image">
      {{/if}}
    <div class="title">
      <div class="user-name">
        <h1>{{person.name}}'s <small>Profile</small></h1>
        <button id="myBtn">Connections</button>
      </div>
      <p>{{person.professionalHeadline}}</p>
      <ul class="list-links">
        {{#each person.links}}
        <li><a href="{{this.address}}"><i class="fa fa-{{this.name}}" aria-hidden="true"></i></a></li>
        {{/each}}
      </ul>
    </div>
    {{/if}}
  </section>
  <hr>
  <section class="search">
    <div class="form-group">
      <label for="search">Search for User</label>
      <input type="search" name="User" id="user" oninput="setSearch()">
      <button onclick="setSearch()">Search</button>
    </div>
    {{!-- <input type="search" name="User" id="conn" oninput="searchConnection()"> --}}
  </section>
</header>